*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.front{
    width: 430px;
    height: 290px;
    background: cyan;
}
.img{
    position: absolute;
    width: 106px;
    height: 96px;
    margin-left: 248px;
    margin-top: 30px;
}
.ribbon{
    position: absolute;
    width: 106px;
    height: 96px;
    margin-top: 37px;
    margin-left: 10px;
}
.back{
    width: 430px;
    height: 290px;
    background: blue;
}