* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ==============================================  Web View================================================================ */
.container {
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    padding-top: 200px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* =============================-----------------FRONT--------------------=================================== */
.front {
    position: relative;
    background: yellow;
    /* background: hwb(35deg 20% 4%); */
    /* background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); */
    font-family: cursive;
    width: 490px;
    height: 300px;
    padding: 5px 20px;
}

/* =============================== */
.ribbon {
    width: 131px;
    height: 140px;
}

.img {
    width: 140px;
    height: 144px;
    position: absolute;
    margin: 1px 1px 1px 198px;
    border-top-left-radius: 20px;
}

.short {
    width: 157px;
    height: 119px;
    /* background: green; */
}

.card h2 {
    position: absolute;
    font-family: cursive;
}

.short p {
    position: absolute;
    margin: 35px 1px 1px 11px;
    font-family: cursive;
}

.short .call {
    position: absolute;
    margin: 68px 0px 0px 21px;
    padding: 3px 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.short .mail {
    position: absolute;
    margin: 68px 0px 0px 65px;
    padding: 3px 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.details {
    font-size: 13pt;
    width: 77px;
    height: 39px;
    border: none;
    background: #4738cf;
    color: white;
    position: absolute;
    margin: 190px 0px 0px 89px;
    padding: 3px 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.hire {
    border: none;
    font-size: 12pt;
    width: 77px;
    height: 39px;
    position: absolute;
    margin: 190px 0px 0px 169px;
    padding: 3px 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.short ul {
    margin-top: 103px;
    position: absolute;
    color: black;
    font-size: 15pt;
}

.short ul li {
    list-style: none;
    display: inline-block;
    padding-left: 5px;
}

button {
    cursor: pointer;
}

/* -----------------------------------------------BACK------------------------------------------- */
.back {
    position: relative;
    background: yellow;
    font-family: cursive;
    width: 490px;
    height: 300px;
    padding: 5px 20px;
    display: none;
}

.back-card {
    position: absolute;
    width: 482px;
    height: 292px;
    background: limegreen;
    margin: -1px -16px;
}

.underline {
    width: 456px;
    height: 123px;
    margin: -15px 10px;
}

.detail-header {
    position: absolute;
    margin: 4px 200px;
}

.detail-body {
    margin: -20px 6px;
}

.triangle-left {
    position: absolute;
    border-bottom: 292px solid yellow;
    border-right: 465px solid transparent;
    margin: -1px 1px 1px -16px;
}

.triangle-right {
    position: absolute;
    border-bottom: 292px solid yellow;
    border-left: 465px solid transparent;
    margin: -1px 1px 1px 1px;
}

.triangle-top {
    position: absolute;
    border-bottom: 156px solid blue;
    border-left: 238px solid transparent;
    border-right: 248px solid transparent;
    margin: -1px 1px 1px -20px;
    transform: rotate(180deg);
}

.triangle-top-after {
    display: none;
    background: blue;
}

.arrow {
    width: 100px;
    height: 100px;
    display: none;
}

.guide {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    margin: 1px 1000px 1px 1px;
    width: 200px;
    height: 100px;
    color: #fff;
}

#guide_2,
#guide_3,
#guide_4,
#guide_5,
#guide_6 {
    display: none;
}
/* =============================================================================================================== */
/* =====================================  Mobile View  =========================================================== */
/* =============================================================================================================== */
@media screen and (max-width: 380px) {
    .container {
        background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
        padding-top: 200px;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* =============================-----------------FRONT--------------------=================================== */
    .front {
        position: relative;
        background: yellow;
        font-family: cursive;
        width: 330px;
        height: 230px;
        padding: 5px 20px;
    }

    /* =============================== */
    .ribbon {
        width: 70px;
        height: 70px;
    }

    .img {
        width: 70px;
        height: 74px;
        position: absolute;
        margin: 1px 1px 1px 140px;
        border-top-left-radius: 20px;
    }

    .short {
        width: 157px;
        height: 119px;
        /* background: green; */
    }

    .card h2 {
        position: absolute;
        font-family: cursive;
    }

    .short p {
        position: absolute;
        margin: 35px 1px 1px 11px;
        font-family: cursive;
    }

    .short .call {
        position: absolute;
        margin: 68px 0px 0px 21px;
        padding: 3px 8px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .short .mail {
        position: absolute;
        margin: 68px 0px 0px 65px;
        padding: 3px 8px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .details {
        font-size: 10pt;
        width: 60px;
        height: 25px;
        border: none;
        background: #4738cf;
        color: white;
        position: absolute;
        margin: 140px 0px 0px 89px;
        padding: 3px 8px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .hire {
        border: none;
        font-size: 8pt;
        width: 60px;
        height: 25px;
        position: absolute;
        margin: 140px 0px 0px 169px;
        padding: 3px 8px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .short ul {
        margin-top: 103px;
        position: absolute;
        color: black;
        font-size: 15pt;
    }

    .short ul li {
        list-style: none;
        display: inline-block;
        padding-left: 5px;
    }

    button {
        cursor: pointer;
    }

    /* -----------------------------------------------BACK------------------------------------------- */
    .back {
        position: relative;
        background: yellow;
        font-family: cursive;
        width: 330px;
        height: 230px;
        padding: 5px 20px;
        display: none;
    }

    .back-card {
        position: absolute;
        width: 267px;
        height: 230px;
        background: limegreen;
        /* margin: -1px -16px; */
    }

    .underline {
        width: 250px;
        height: 123px;
        /* margin: -15px 10px; */
    }

    .detail-header {
        position: absolute;
        margin: 4px 95px;
    }
/* 
    .detail-body {
        margin: -20px 6px;
    } */

    .triangle-left {
        position: absolute;
        border-bottom: 226px solid red;
        border-right: 273px solid transparent;
        /* margin: -1px 1px 1px -16px; */
    }

    .triangle-right {
        position: absolute;
        border-bottom: 226px solid cyan;
        border-left: 273px solid transparent;
        margin: -1px 1px 1px 1px;
    }

    .triangle-top {
        position: absolute;
        border-bottom: 120px solid blue;
        border-left: 176px solid transparent;
        border-right: 149px solid transparent;
        /* margin: -1px 1px 1px -20px; */
    }

    .triangle-top-after {
        display: none;
        background: blue;
    }

    .arrow {
        display: none;
        width: 100px;
        height: 100px;
        display: none;
    }

    .guide {
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        margin: 1px 1000px 1px 1px;
        width: 200px;
        height: 100px;
        color: #fff;
    }

    #guide_2,
    #guide_3,
    #guide_4,
    #guide_5,
    #guide_6 {
        display: none;
    }
}